:root {
    --green_button: #248F55;
    --green_more: #73D99F;
    --green: #15B088;
    
    --yellow: #F2CD5E;
    --nude: #F2C49B;
    --red: #D93E30;

    --dark_grey: #7F7E79;
    --smoky_gray: #D5D4D2;

    --black: #1F1F1F;

    --white: #FAFCFC;
    --bg_white: #F2F8F3;
    --bg_dark: #343434;
    --more: #4e4e4e;
}

.marginBottom {
    margin-bottom: 20px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 40px;
}

.flex {
    display: flex;
}

.inputLog {
    border-radius: 20px;
    border: 1px solid var(--green_button);
}

.button {
    background-color: var(--green_button);
    color: var(--white);
    font-size: 16px;
}

.button > a {
    color: var(--white);
}

.link {
    color: var(--green_button);
    font-weight: 600;
    cursor: pointer;
    font-style: unset;
}

.iconColor {
    color: var(--green_button);
    cursor: pointer;
}

.iconRed {
    color: var(--red);
    cursor: pointer;
}

.iconGrey {
    color: var(--bg_dark);
    cursor: pointer;
}

.colorWhite {
    color: var(--white);
}

.colorGey {
    color: var(--dark_grey);
}

.textBold {
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 0;
}

.list {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list1 {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    font-size: 20px;
}

.listcolumn {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.boxRelative {
    position: relative;
    display: flex;
}

.body {
    padding: 60px 90px;
    min-height: 100vh;
    background: linear-gradient(180deg, #000 0%, #343434 100%) no-repeat, #343434;
    background-size: 100% 900px;
}

.nav {
    color: var(--white);
    cursor: pointer;
    font-style: unset;
}

.navIcon {
    color: var(--white);
    margin: 0 10px;
}

.inline {
    display: inline-flex;
    align-items: center;
}

.collection {
    border: 2px solid var(--dark_grey);
    color:  var(--dark_grey);
    background: transparent;
    padding: 0 10px;
}

.titleProfile {
    font-size: 22px;
    font-weight: 600;

}

.optionProfile {
    font-size: 18px;
}