#header {
    background-color: #1F1F1F;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1;
    padding: 0px 90px;
    justify-content: space-between;
    opacity: 0.9;
}

#headerCommon {
    display: flex;
    align-items: center;
    gap: 50px;
}

#headerCommon > img {
    cursor: pointer;
}

#nav {
    display: flex;
    height: 100%;
}

#nav > li {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

#nav > li:hover {
    background-color: #343434;
}

#nav > li > a {
    font-size: 17px;
    margin: 0;
    color: #FAFCFC;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}



.btn {
    background-color: #FAFCFC;
    color: #248F55;
}

.btn > a {
    color: #248F55;
}

.icon {
    display: flex;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 1px solid #248F55;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}

#headerCilent {
    display: flex;
    align-items: center;
    gap: 12px;
}

#headerCilent > button {
    height: 40px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    padding: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#headerUser {
    display: flex;
    align-items: center;
    gap: 12px;
}

#headerUser > div {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

#subnav {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 100;
    top: 60px;
    right: 100px;
    background-color: #FAFCFC;
    width: 250px;
    list-style-type: none;
    padding: 15px;
    border-radius: 20px;
    gap: 5px
}

#subnav > li {
    padding: 5px 10px;
    border-radius: 10px;
}

#subnav > li:hover{
    background-color: #D5D4D2;
}

#subnav > li > a {
    color: #7f7e79;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 10px
}


#subnav > li > a > div {
    display: flex;
    width: 20px;
    height: 30px;
    align-items: center;
    justify-content: center;
}