html {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

*,*:before,*:after {
  box-sizing: border-box;
}

input, textarea, select, button {
  outline: none;
}

input {
  line-height: normal;
}

label, button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

h3 {
  color: #FAFCFC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

select {
  cursor: pointer;
}

select option {
  color: white;
  background-color: #343434;
  height: 30px;
  font-size: 15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #909090;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #909090;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #909090;
}

ul > li, i {
  cursor: pointer;
  list-style-type: none;
}

button:hover{
  opacity: 0.8;
}

a:hover {
  opacity: 0.8;
}